.head{
    width: 30%;
    
}
.answers{
    cursor: pointer;
}
.AllLi{
    border:3px solid blueviolet;
    transition: 0.6s all;
}
.AllLi:hover{
    background-color: blueviolet;
}


@media screen and (max-width : 800px ){

    .ChooseQuestions,.answerQuestion,.scoreOfQuiz{
        width: 80% !important;
    }
}


@media screen and (max-width : 1400px ){
    h1{
        font-size: 18px;
        text-wrap: nowrap;
        width: 40% !important;
        text-align: center;
        font-weight: bold;
    }

}